html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  background-image: url(./images/blackjack1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 150px;
  color: #ffffff;
}

.btn-let-play {
  background: #ffffff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border-radius: 19px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  height: 50px;
  width: 180px;
}

.btn-let-play:hover {
  position: relative;
  animation-name: btn-let-play;
  animation-duration: 4s;
  animation-direction: normal;
}

@keyframes btn-let-play {
  0% {
    left: 0px;
  }
  50% {
    left: 25px;
  }
  100% {
    left: 0px;
  }
}

.main-bottom-container {
  height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-style: italic;
    margin-right: 20px;
}

.para-bottom-container {
  color: white;
  font-size: 25px;
  font-weight:bold;
}


/* game.html */

.container-fluid-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  height: 90%;
  width: 90%;
  padding-top: 20px;
}

.btn-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px;
  grid-gap: 40px;
}

.btn-start-game {
  border: hidden;
  border-radius: 7px;
  background-color: #f02525;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
}
.btn-ask-card {
  border: hidden;
  border-radius: 7px;
  background-color: #cfbd1a;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
}

.cards-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  height: 50%;
}

#cards-el {
  font-size: 25px;
  margin-right: 650px;

}

#sum-el {
  font-size: 25px;

}
#message-el{
  color: white;
}

#cards-el,
#sum-el,
#counter-el {
  color: white;
  border: solid 0.5px gold;
  border-radius: 7px;
  padding: 10px;
}

.bottom-container {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10vh
}

#counter-el{
  border: white solid 1px;
  border-radius:5px;
  padding:10px
}
